absl-py==0.2.2
asn1crypto==0.24.0
astor==0.7.1
astroid==1.6.2
attrs==17.4.0
autobahn==18.3.1
Automat==0.6.0
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.49.0
boto3==1.7.58
botocore==1.10.58
boxsdk==1.5.5
bs4==0.0.1
bz2file==0.98
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.2.1
cycler==0.10.0
decorator==4.3.0
docutils==0.14
Flask==1.0
future==0.16.0
gast==0.2.0
gensim==3.5.0
gevent==1.3.5
greenlet==0.4.14
grpcio==1.13.0
gunicorn==19.9.0
gym==0.10.5
h5py==2.8.0
html5lib==0.9999999
httplib2==0.11.3
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mpmath==1.0.0
networkx==1.11
nltk==3.2.1
nose==1.3.7
numpy==1.14.2
oauth2client==4.1.2
oauthlib==2.0.7
pandas==0.22.0
protobuf==3.6.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pydub==0.21.0
pyglet==1.3.2
pylint==1.8.3
pymediainfo==2.2.1
pyOpenSSL==17.5.0
pypandoc==1.4
pyparsing==2.2.0
pyrouge==0.1.3
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.13
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
service-identity==17.0.0
six==1.11.0
smart-open==1.6.0
sympy==1.2
tensor2tensor==1.6.6
tensorboard==1.6.0
tensorflow==1.6.0
tensorflow-serving-api==1.9.0
termcolor==1.1.0
tqdm==4.19.8
Twisted==17.9.0
txaio==2.9.0
typing==3.6.4
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.22
Werkzeug==0.14.1
wrapt==1.10.11
zope.interface==4.4.3
